{
  "your-problem-descriptor":{
    "organizations/*/cookbooks/*/metadata.rb":[
      {
        "pattern":"^version .*GO_PIPELINE_LABEL",
        "replace":"version !COOKBOOK_VERSION!"
      }
    ]
  }
}
